.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.envrc
spec/dummy/.sass-cache
tmp/*
coverage/*
gemfiles/*.lock
./Gemfile.lock
