doctype html
html
  head
    title Adhoq
    = stylesheet_link_tag    'adhoq/application', media: 'all'
    = javascript_include_tag 'adhoq/application'
    = csrf_meta_tags
    javascript:
      hljs.initHighlightingOnLoad();

  body
    .container
      = render 'global_nav'

      #contents.row
        = yield

