<p class="note">
	<%= @result.rows.size %> rows
</p>
<table class="table table-striped table-focus">
	<thead>
		<tr>
			<% @result.header.each do |column| %>
				<th><%= column %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @result.rows.take(100).each do |row| %>
			<tr>
				<% row.each do |val| %>
					<%- if val.is_a?(String) %>
						<td><%= val.force_encoding("UTF-8") %></td>
					<%- else %>
						<td><%= val %></td>
					<%- end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
